<div class="container">
    <p>ng-rx-state works!</p>

    <button class="btn btn-primary me-3" (click)="onDecrement()">Decrement</button>
    <span class="border py-2 px-3">{{counter}}</span>
    <button class="btn btn-primary ms-3" (click)="onIncrement()">Increment</button>

<h1>Hello this is NgRx State Management</h1>

<table class="table table-row border">
    <tr>
        <td>
            <app-admin></app-admin>

        </td>
        <td>

            <app-user></app-user>


        </td>
    </tr>
</table>
</div>