

<div class="container">
    <h1 class="text-center text-danger">👋 Welcome to the Angular 18 Practice Hub!</h1>
   
    <p class="text-center fs-4">This website is designed to help you learn Angular 17 by exploring real-world examples and hands-on components. Whether you're just starting out or brushing up on your skills, you'll find practical demos and clear code for every major topic.</p>
   
    <div class="border">
     <pre class="text-left fs-4  p-5" >
       🚀 What you'll find here:
     
     🔧 Component Communication
     
     📐 Directives
     
     📝 Reactive & Template-driven Forms
     
     🌐 Routing & Navigation
     
     💉 Dependency Injection
     
     💾 Local Storage Integration
     
     🔄 Pipes & Lifecycle Hooks
     ...and much more!
   
     📂 GitHub Repository:
     👉 View the Source Code on <a href="https://github.com/AnandAnasane/AngularPractice">Github</a>
      </pre>
        <p class="text-center fs-5">🧠 Learn by Doing <br>
       Each section focuses on one concept at a time—explained simply, with code you can explore and modify.</p>
    </div>
   
    <p class="text-danger">💡 Tip: Bookmark this site and revisit often as new topics and examples are added!
   
     Happy coding!</p>
   </div>
   